@keyframes title {
    from {opacity: 0.5;}
    to {}
}

@keyframes marginTick {
    from {opacity: 0.5; margin-top: 30vh}
    to {}
}

@keyframes mot3 {
    from {opacity: 0.5; margin-top: 5vh}
    to {}
}

.motion1 {
    animation-iteration-count: 1;
    animation-name: marginTick;
    animation-duration: 1.5s;
}

.motion2 {
    animation-iteration-count: 1;
    animation-name: title;
    animation-duration: 1.5s;
}

.motion3 {
    animation-iteration-count: 1;
    animation-name: mot3;
    animation-duration: 1.2s;
}

.motion4 {
    animation-iteration-count: 1;
    animation-name: marginTick;
    animation-duration: 1.5s;
}

.motion5 {
    animation-iteration-count: 1;
    animation-name: title;
    animation-duration: 1.2s;
}

.motion6 {
    animation-iteration-count: 1;
    animation-name: mot3;
    animation-duration: 1.5s;
}

.nav-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.pointer-hover:hover {
    cursor: pointer
}

.underline-hover:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 1%;
}

::-webkit-scrollbar-track {
    background-color: lightgray;
    border-radius: 1%
}

.cells {
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}